*{
    box-sizing: border-box;
    
}

:root{
    --current-color: #16a085;

}

body {
    background-color: var(--current-color);
    /* border: 2px solid black; */
    transition: 1000ms;
  }
  
  .App{
    display: flex;
    justify-content: center;
  }
  .quote-box {
    position: absolute;
    top: 35vh;
    padding: 30px 40px;
    border-radius: 5px;
    background-color: white;
    min-width: 40vw;
    max-width: 45vw;
    height: auto;
    color: var(--current-color);
    z-index: 1;
    align-items:center ;
    transition: 1000ms;
  }

  .quote {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .writer-name {
    text-align: end;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-weight: 200;
    /* opacity: -1; */
  }

  .writer-name::before {
    content: '- ';
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin-top: 4vh;
  }

  .twitter-button{
    color: var(--current-color);
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px 10px;
    transition: 1000ms;
  }
  .new-quote-button{
    background: var(--current-color);
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px 10px;
    border: none;
    transition: 1000ms;
  }

  .button:hover{
    opacity: 0.9;
  }

  a{
    text-decoration: none;
  }

  @media (max-width:500px){
    .quote-box{
      max-width: 90vw;
    }
    .quote{
      font-size: 1rem;
    }
    .writer-name{
      font-size: 0.7rem;
    }
  }